<%= form_for(@info_form) do |f| %>
	<% if @info_form.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@info_form.errors.count, "error") %> prohibited your information from being sent:</h2>
			<ul>
				<% @info_form.errors.full_messages.each do |message| %>
			    		<li><%= message %></li>
			    	<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="field">
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :last_name %><br>
		<%= f.text_field :last_name %>
	</div>
	<div class="field">
		<%= f.label :email %><br>
		<%= f.text_field :email %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>