<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-left" style="padding-bottom: 0px;">
        <%= image_tag 'cltSpartan.png', width: '150px', height: 'auto' %>
        <%=@event.name%>
      </h1>
    </div>
  </div>
  <hr style="margin-top: 0px;"/>
</div><!-- /.container -->
<div class="container">
  <div class="row">
    <div class="col-lg-8" style="border-right: 1px solid #cdcdcd;">
      <h2>PACKAGES</h2>
      <% @packages.each do |package| %>
          <h3><%= package.name %></h3>
          <p><%= package.description %></p>
      <% end %>
      <h4><%= "There are no packages for this event." if @packages.blank? %></h4>
    </div>
    <br />
    <div class="col-lg-4">
      <h2>CONTACT US</h2>
        <%= render 'form' %>
    </div>
  </div>
</div>
