<%= form_for([:admin, @package]) do |f| %>
  <% if @package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@package.errors.count, "error") %> prohibited this package from being saved:</h2>

      <ul>
      <% @package.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %><br>
    <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.collection_select :event_id, @events, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
