<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @package.name %>
</p>
<p>
	<strong>Description:</strong>
	<%= @package.description %>
</p>
<p>
	<strong>Event:</strong>
	<%= @package.event.name %>
</p>

<%= link_to 'Edit', edit_admin_package_path(@package) %> |
<%= link_to 'Back', admin_packages_path %>
